<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello World</h1>
    <button>
        <a href="/insult"> Rand ny insult</a>
    </button>
    <button>
        <a href="/insults"> Creat New Insult</a>
    </button>
    <p>
        <% for (const obj of data) {%>
            <article>
                <label> ID: <%= obj.id%>
                Insult :<%= obj.insult%>
                Author :<%= obj.author%></label>
                <button>
                    <a href="insult/<%=obj.severity%>""> Severity : <%=obj.severity%></a>
                </button>
                <button>
                    <a href="insults/<%=obj.id%>"">Uppdate Insults</a>
                </button>
            </article>
       <%}%>
    </p>


    <!-- <button onclick="move()">User Name</button>
    <button onclick="caht()">Start caht</button>
    <script>
        function move(){
            window.location.href = '/userName'
        }
        function chat(){
            window.location.href = '/chat'
        }
      </script> -->
    
</body>
</html>