<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Renders a random insult</h1>
    <button>
        <a href="/insult"> Rand ny insult</a>
    </button>
    <button>
        <a href="insult/<%= result.severity%>"> Rand ny insult med Severity</a>
    </button>
    <button>
    <a href="/">Back</a></button>
    <p>ID: <%= result.id%></p>
    <p>Insult: <%= result.insult%></p>
    <p>Author: <%= result.author%></p>
    <p>Severity: <%= result.severity%></p>
</body>
</html 